div.cf.inner_contain
  h1 About Us
  h2 Wireless Peak products are designed by Red Peak Engineering for the purpose of making your life easier and more efficient. We help you control your electrical stuff better.
  img(src="images/about-los_angeles.jpg", width="600", height="400", border="0", class="flt_right")
  p Based in Southern California, Red Peak is a small startup company that designs smart electrical products and brings them to market. The focus is on Internet of Things products.
  p Our initial products are smart outlets and switches that monitor and control power use. Although the makers of current smart outlets and switches share our goal of helping you easily control your energy use, they fall short in capability and are too expensive for mass appeal. Our goal is to make smart outlets and switches that are better, easier to use, and less expensive.
  h3 Watch for product sales beginning in 
    span(style="color:rgb(140,200,33);") late 2013. &nbsp;
    span After that we will bring a suite of related products to market.