div.cf.inner_contain
  h1 Contact Us
  h2 If you are passionate about automation, efficiency, energy, and technology, please contact us to inquire about joining our team, or just staying in touch.
  form#contact(action="/contact", method="POST")
    h5 Name:
    input(name='Enter Username', type='text', name="name")
    h5 E-mail:
    input(name='Enter E-mail', type='text', name="email")
    h5 Message:
    textarea(rows="10", cols="40", name="message")
    br
    input(type='submit', value='SUBMIT')
  p We welcome potential investors, partners, employees, contractors, installers, suppliers, customers, and collaborators of all kinds.
  strong Our goal is to make everyone involved a winner.