div#home.cf.inner_contain
  h1 Wireless Peak products help you control your electrical devices and understand where your power goes.  They make things:
  ul
    li(style="background:url(images/home-easier.png) top left no-repeat")
      h2 Easier
      p Timers and sensors can turn things on and off automatically
    li(style="background:url(images/home-controllable.png) top left no-repeat")
      h2 More Controllable
      p Turn things on and off from anywhere with Wi-Fi
    li(style="background:url(images/home-efficient.png) top left no-repeat")
      h2 More Efficient
      p Discover where your power is going and root out your energy hogs. Save money by turning things off when they are not needed.  Save time by having a simple and central place to control things.