!!!
html
  head
    title= title
    meta(harset='UTF-8')
    script(type='text/javascript', src='/javascripts/dist/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen', charset='utf-8')
  body
    header
      nav.cf.inner_contain
        ul
          li
            a(href="/")(class=(current === 'index' ? "current" : "")) Home
          li
            a(href="/about")(class=(current === 'about' ? "current" : "")) About
          li
            a(href="/news")(class=(current === 'news' ? "current" : "")) News
          li
            a(href="/products")(class=(current === 'products' ? "current" : "")) Products
          li
            a(href="/accounts")(class=(current === 'accounts' ? "current" : "")) My Account
          li
            a(href="/contact")(class=(current === 'contact' ? "current" : "")) Contact Us
        img(src="images/header-wirelesspeak_logo.png",name="Wireless Peak", width="305", height="68", border="0", class="logo")
    section#wrapper!= body