div.cf.inner_contain
  h1 News
  ul#news
    li
      h2 August 12th, 2013
      p Electronics prototypes perform all key functions: Wi-Fi communication to the internet, RF communication between outlets and switches, AC power conversion, AC power switching (relay), and AC power measurement.
    li
      h2 April 9th, 2013
      p Hardware interface web and server testbed/prototype working.
    li
      h2 March 30th, 2013
      p Completed hardware design for the development electronics, including the PCB layout.
    li
      h2 January 4th, 2013
      p WirelessPeak.com website goes live with general information and announcements.
    li
      h2 November 5th, 2012
      p First iteration of smart outlet housing designed and fabricated using 3D printer and ABS plastic.</p>
    li
      h2 October 15th, 2012
      p First electronics PCB fabricated.
    li
      h2 September 5th, 2012
      p WirelessPeak.com identified as candidate brand for the smart devices.
    li
      h2 June 20th, 2012
      p Initial web app specification and user interface design are complete.
    li
      h2 May 10th, 2012
      p The NXP Jennic JN5148 ultra-low-power, low-cost wireless microcontroller is selected as the brains and internal communication path. This enables the design work to proceed.
    li
      h2 March 3rd, 2012
      p Harry Balian, Edwin Grigorian, and Scott Peer begin designing the first versions of their smart outlets and switches. The basic architecture is set and initial focus is on selecting electronics that are capable, affordable, and reliable.