div.cf.inner_contain
  h1 Products
  h2 WirelessPeak.com products are in the design and protoype development phases. The first planned products are:
  ul#products
    li(style="margin-right:3%;")
      h2 Smart Outlet
      p With low power wireless communication to turn on and off and monitor power use. It replaces a standard wall outlet.
      img(src="images/products-smart_outlet.png",name="Smart Outlet", width="460", height="400", border="0")
    li
      h2 Smart Switch Hub
      p With low power wireless communication to talk to other devices and control and monitor use. Wifi connection to communicate with the database and users. It replaces a standard wall switch.
      img(src="images/products-smart_switch.png",name="Smart Switch", width="460", height="400", border="0")
  p Web and phone apps to control and monitor the outlets and switches.
  p By having devices talk to each other as well as the hub, Wireless Peak products can have arbitrary ranges that far exceed systems from other manufacturers.
  h3 
    span Please come back again to learn more as we continue developing our products.
    br 
    span We anticipate product sales beginning in 
      span(style="color:rgb(140,200,33);") April 2013.