div.cf.inner_contain
  h1 Products
  h2 Wireless Peak products are in development. The first planned products are:
  ul#products
    li(style="margin-right:3%;")
      h2 Smart Outlet
      p With low power wireless communication to turn on and off and monitor power use. It replaces a standard wall outlet (or socket or receptacle).
      img(src="images/products-smart_outlet.png",name="Smart Outlet", width="460", height="400", border="0")
    li
      h2 Smart Switch Hub
      p With low power wireless communication to talk to other devices and control and monitor use. Wifi connection to communicate with the database and users. It replaces a standard wall switch.
      img(src="images/products-smart_switch.png",name="Smart Switch", width="460", height="400", border="0")
  p Also included are web and phone apps to control and monitor the outlets and switches.
  p Wireless Peak products are better than the rest. They have longer range, easy to use but powerful web and mobile interfaces, and a Wi-Fi connection for easy setup. You could save hundreds of dollars a year on your electric bill with Wireless Peak.
  h3 
    span Please come back again to learn more as we continue developing our products.
    br 
    span We anticipate product sales beginning in 
      span(style="color:rgb(140,200,33);") late 2013.